/* src/styles/ResultsPage.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-bar-container {
  padding: 10px;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.search-bar {
  margin: 0 auto;
  width: 50%; /* Adjust width as needed */
}

.results-list {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.result-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.viewer-container {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100;
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding doesn't affect the width/height */
}

.viewer-container iframe {
  border: none;
}
